

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    height: 100vh;
    background-color: rgb(44, 41, 41);
    color: aliceblue;
}

main {
   
   
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 30% auto;
}

.titulo {
    color: #000;
    background-color: whitesmoke;
    width: 70vw;
    /* margin: auto;
} */

